<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>NFC Tap</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIconFiles</key>
	<array>
		<string></string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>Icon-60</string>
			<key>CFBundleURLName</key>
			<string>com.st.mmy.st25nfc</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nfctap</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.1.0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NFCReaderUsageDescription</key>
	<string>扫描并识别NFC标签</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>蓝牙配对演示</string>
	<key>NSContactsUsageDescription</key>
	<string>导出NFC标签内的联系方式</string>
	<key>NSHumanReadableCopyright</key>
	<string>All rights reserved © 2017 STMicroelectronics</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>App需要访问您的位置</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>App需要访问您的位置</string>
	<key>NSLocationUsageDescription</key>
	<string>App需要访问您的位置</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>App需要访问您的位置</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
